/* ===RESET=== */
*{
  border: none;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  background: none;
}
/* ===Body=== */
body{
  /* ---Background--- */
  background-color: #E0E8FF;
}
/* ===H=== */
h1, h2{
  /* ---Fontes--- */
  color: #1F2F56;
  font-weight: 900;
}
/* ===P=== */
p{
  color: #7280A7;
  font-size: 1em;
}
/* === Background Body === */
.background__body{
  height: 150px;
  width: 100%;
  position: absolute;
  background: url("./images/pattern-background-mobile.svg");
  background-size: 100% 150px;

}
/* ===MAIN=== */
main{
  /* ---Borda--- */
  border-radius: 15px;
  /* ---Fonte--- */
  font-size: 0.9em;
  /* ---Tamanho--- */
  height: 490px;
  max-width: 325px;
  /* ---Espaçamento--- */
  margin: auto;
  margin-top: 15px;
  /* ---Background--- */
  background: #fff;
}

/* ===Background Hero=== */
.background_hero-img{
  /*   ---Borda--- */
  border-radius: 15px 15px 0 0;
  /* ---Tamanho--- */
  width: 100%;
  height: 160px;
  /* ---Espaçamento--- */
  margin-bottom: 20px;
  /* ---Background--- */
  background: url("./images/illustration-hero.svg");
  background-size: cover;
}

/* ===Section Main=== */
.section_main{
  /* ---Fontes--- */
  text-align: center;
  /* ---Tamanho--- */
  height: 120px;
  width: 90%;
}
  /* ===Section Main Titulo=== */
  .section_main__titulo{
    /* ---Espaçamento--- */
    margin-bottom: 10px;
  }

  /* ===Section Main Paragrafo=== */
  .section_main__paragrafo{
    /* ---Tamanho--- */
    width: 95%;
  }
  /* ===Section Main + Paragrafo=== */
  .section_main, .section_main__paragrafo{
    /* ---Espaçamento--- */
    margin: auto;
  }

/* ===Section Plano=== */
.section_plano{
  /* ---Borda--- */
  border-radius: 10px;
  /* ---Espaçamento--- */
  margin: auto;
  /* ---Tamanho--- */
  height: 70px;
  width: 90%;
  /* ---Display--- */
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* ---Background--- */
  background: #F5F7FF;
}

  /* ===Section Plano Icon=== */
  .section_plano_info__icon{
    /* ---Espaçamento--- */
    margin: 0 10px 0 10px;
    /* ---Tamanho--- */
    height: 40px;
    width: 40px;
    /* ---Background--- */
    background: url("./images/icon-music.svg") no-repeat;
    background-size: cover;
  }

  /* ===Section Plano Itens=== */
  .section_plano_info__itens{
    /* ---Tamanho--- */
    height: 40px;
    width: 150px;
  }
    /* ===Section Item Plano / Valor === */
    .section_plano_info__item-plano, .section_plano_info__item-valor{
    /* ---Fonte--- */
        font-size: 0.9em;
    }
  /* ===Section Plano Change=== */
  .section_plano_info__change-plano{
    /* ---Fonte--- */
    /* font-size: 0.9em; */
    font-weight: 700;
    /* ---Espaçamento--- */
    margin-right: 15px;
  }

/* ===Section Buttons=== */
.section_buttons{
  /* ---Espaçamento--- */
  margin: auto;
  margin-top: 20px;
  /* ---Tamanho--- */
  width: 90%;
}

  /* ===Section Button Proceed=== */
  .section_button-proceed{
    /* ---Borda--- */
    border-radius: 10px;
    /* ---Fonte--- */
    color:#F5F7FF;
    font-size: 1em;
    font-weight: 900;
    /* ---Espaçamento--- */
    margin-bottom: 20px;
    /* ---Tamanho--- */
    width: 100%;
    height: 40px;
    /* ---Background--- */
    background: #3829E0;
    /* ---Cursor--- */
    cursor: pointer;
  }
  .section_button-proceed:hover{
    background:#7280A7;
  }

  /* === Section Button Cancel=== */
  .section_button-cancel{
    /* ---Fonte--- */
    color: #7280A7;
    /* font-size: 0.9em; */
    font-weight: 700;
    /* ---Espaçamento--- */
    margin: auto;
    /* ---Tamanho--- */
    width: 100%;
    /* ---Cursor--- */
    cursor: pointer;
  }
  .section_button-cancel:hover{
    color:   #1F2F56;
  }

@media(min-width: 600px){
  .background__body{
    height: 250px;
    background: url("./images/pattern-background-desktop.svg") no-repeat;
    background-size: 100% 250px;
  }
}
